layout
doctype html
html
head
	title= title
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='stylesheets/main.css')
	link(rel='stylesheet', href='stylesheets/auction.css')

	body
	header
	div.container
	div.row
		div.pull-left.col-md-3.col-md-offset-9
			a(href="/") Home |
			a(href="register")  Sign In |
			a(href="sign out")  Sign Out
	div.container.bg-primary
		div.smimg
			img.img-responsive(src='/images/savings-multiplied-logo.png' )

		div.buttons
			button.btn-about(class-"btn") About
			button.btn-contact(class-"btn") Contact
			button.btn-blog(class-"btn") Blog
			button.btn-press(class-"btn") Press
		div.tagline
			img.img(src="../images/tagline.png")
	div.container.navbar
		div.row
			div.col-md-1
			div.col-md-1
				p Buy
			div.col-md-1
				a(href="listItems") List your items
			div.col-md-2
				a(href="editItems") Edit your Items
			div.col-md-1
				p Links
			div.col-md-1
				p Community
			div.col-md-1
				p Search
			div.col-md-1


	block content

script( src="//code.jquery.com/jquery-1.11.2.min.js")
script( src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js")
script(type='text/javascript' src='javascripts/main.js')
script(type='text/javascript' src='javascripts/jadeHandler.js')

