extends layout
link(rel='stylesheet', href='stylesheets/auction.css')

block content

	div.container.bg-primary

		div.row.success
		div.pull-left.col-md-4.col-md-offset-4
			div.enterItems.success
				form.items_form(method="POST", action="/auction", name="itemsForm")
					h3 List Your Auction Items!
					p Title
						input#title(type="text", name="title")
					p Price
						input#price(type="text", name="price")
					p Seller
						input#seller(type="text", name="seller")
					P Auction Ends
						input#endDate(type="text", name="endDate")

					input(type="submit", class="submitButton", value="submit")
					p
