extends layout
link(rel='stylesheet', href='../stylesheets/profile.css')
link(href='/layout.jade')
block content

	div.container.bg-primary

		div.row.success
		div.pull-left.col-md-6.col-md-offset-2
			div.profile.success
					h3 Your Profile Page!
					h4 Tell us about yourself.
					p Here you can list and revise your auction items.
					p Here you can track your sales history.


