extends layout
block content

	div.container.bg-primary

		div.register_form
		h3 Register Your Savings Multiplied Account!
		p Username
			input(type="text" id="username" name="username")
		P Password
			input(type="password" id="password" name="password")

		input(class="submitButton" type="submit")
