// Classes
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

// Usage as mixins
.element {
  .show();
}
.another-element {
  .hidden();
}

.form_panel {
  background-color: #edf9d3;
  float: left;
  width: 30%;
  padding: 5px;
}

.items {
  background-color: white;
  float:right;
  width: 64%;
}


.success{
  background-color: #D5F1F0;
  color: #69C4CC !important;
}

.h4 {
  color: #6F1549;
    font-weight: bolder;
}

.h5 {
  color: #8db639;
    font-weight: bolder;
}

.h5.sell {
  font-weight: bolder;
  color: #69C4CC;
}

.h5.date {
  font-weight: bolder;
  color: #E9168C;
}

auctionimg {
  height: 300px;
  width: 150px;
}

/* Log in style*/
.info{
  background-color: #F3CECD;
  color: black !important;
}
