// Classes
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

// Usage as mixins
.element {
  .show();
}
.another-element {
  .hidden();
}

#form_panel{
	background-color:  #edf9d3;
}

.success{
  background-color: #D5F1F0;
  color: #69C4CC !important;
}

/* Log in style*/
.info{
  background-color: #F3CECD;
  color: color: #6F1549 !important;
}
